apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cruder
  namespace: default
  labels:
    app: cruder
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  tls:
  - hosts:
    - "{{ .Values.ingress.host }}"
    secretName: cruder-tls
  rules:
  - host: "{{ .Values.ingress.host }}"
    http:
      paths:
      - path: /api/v1
        pathType: Prefix
        backend:
          service:
            name: cruder
            port:
              name: http